@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Unbounded:wght@200;400;700&display=swap");
/* font-family: 'Open Sans', sans-serif;
font-family: 'Unbounded', cursive;
*/
/* Set the box-sizing for all elements to border-box */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
}
.splitBlock {
    display:flex;
  display: 100%;
}
.left-col {
  width: 50%;
  background-color: rgb(199, 237, 201);
  padding: 5%;
  color:darkred;
}
h1 {
  font-size: 50px;
  line-height: 1.1;
  margin-bottom: 30px;
  font-family: "Unbounded", cursive;
}
h2 {
  margin-bottom: 100px;
  font-weight: 200;
}
.right-col {
  width: 50%;
}
img {
  width: 100%;
  height: 100%;
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center center;
}
.button {
  margin-top: 20px;
}
.button a {
  display: inline-block;
  padding: 10px 50px;
  background:rgb(234, 146, 146);
  border-radius: 30px;
  text-decoration: none;
  color: rgb(26, 109, 115);
  font-size: 18px;
  line-height: 1.4;
  font-weight: 800;
  transition: all 0.5s ease;
}
.button a:hover {
  background: black;
  color: rgb(60, 56, 123);
}
/*
Responsive Web Design.
-----------------------
1024   - tablet
768    - phone
420    - phone portrait
*/
@media screen and (max-width: 1024px) {
  .button a {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .content-wrapper {
    padding-bottom: 50px;
  }
  .left-col,
  .right-col {
    width: 100%;
  }
  figure {
    height: 300px;
  }
}
@media screen and (max-width: 420px) {
  .button a {
    text-align: center;
  }
}
/*  */