@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');
h1{
    background-color:yellow;
    font-size:65px;
    color:black;
    font-family: 'kenia',sans-serif;
}
p{
    background-color:#473169;
    font-size:20px;
    color:#EEEBAF;
}