.main ul{
    height:820px ;
}
.info{
    font-size: 1.7rem;

}

.about{
    width:300px;
    height: 175px;
}

.edu{
    font-size: 1.5rem;
}

.skill{
    align-items: center;
}

.contact{
    align-self: auto;
}